.box{
    border-radius: 3px;
}

.text1{
    background-color: black;
    pointer-events: none;
    border-radius: 3px;
}

.clock{
    background-color: #1D1B1B;
    border-radius: 6px;
}

/*.animation:hover{
    ::after{
        position: absolute;
        border: 3px solid black;
        transform: translatey(-10px);
    }
}*/
