<div class="container mt-12">
    <p class="text-2xl font-semibold mb-7 ml-12 lg:ml-0 hidden lg:block 2xl:ml-20">{{title}}</p>
    <div class="lg:grid lg:grid-rows-3 grid grid-rows-5 lg:grid-flow-col gap-10 2xl:ml-20">
        <div class="box lg:w-full w-9/12 border-3 border-gray-500 m-auto lg:mt-0" *ngFor="let item of items">
            <div class="border-3 border-gray-500 bg-white animation">
                <button class="text1 text-lg bg-black px-5 py-2">
                    <img [src]="item.status">
                </button>
                <div class="flex gap-20 mt-3 md:ml-9 ml-5">
                    <span class="lg:hidden">
                        <p class="text-xl font-semibold">{{mobileText1}}</p>
                        <p class="text-xl font-semibold">{{mobileText2}}</p>
                        <p class="text-xl font-semibold">{{mobileText3}}</p>
                    </span>
                    <span class="hidden lg:block">
                        <p class="text-2xl ml-1 font-semibold">{{item.text1}}</p>
                        <p class="text-2xl ml-1 font-semibold">{{item.text2}}</p>
                    </span>
                    <img class="clock py-4 px-4 hidden md:block md:mr-4 xl:mr-0" width="90px" [src]="item.image">
                </div>
                <div class="flex gap-40">
                    <div class="md:mt-0 mt-7 lg:mb-3">
                        <button class="border-3 border-gray-500 rounded font-semibold py-1 px-2 md:ml-9 md:mb-3 md:mt-3 ml-5">
                            {{item.smallText}}
                        </button>
                    </div>
                    <div>
                        <img class="clock py-3 px-3 visible md:hidden mb-2 md:mr-4" width="70px" [src]="item.image">
                    </div>
                </div>
            </div>
        </div>
        <div class="right-box border-3 border-black lg:w-full 2xl:w-9/12 w-9/12 mt-5 lg:m-0 m-auto row-start-1">
            <div class="flex flex-col items-center">
                <button class="bg-black text-white text-2xl mt-6 px-10 py-3 rounded ml-2 mr-2">
                    Create Proposal
                </button>
            </div>
            <p class="font-bold text-2xl mt-6 ml-14">0</p>
            <p class="font-medium text-lg ml-14 pb-7 lg:pb-0">Voting Weight</p>
        </div>
        <div class="right-box border-3 border-black lg:row-span-2 lg:w-full 2xl:w-9/12 w-9/12 h-fit lg:h-full pb-7 lg:pb-0 lg:m-0 m-auto row-start-2">
            <p class="text-center mt-6 text-xl font-medium">To vote you should</p>
            <div>
                <button class="small-box border-3 mt-6 ml-3 py-1 px-3 border-gray-400">
                    1
                </button>
            </div>
            <div>
                <button class="small-box border-3 mt-7 ml-3 py-1 px-3 border-gray-400">
                    2
                </button>
            </div>
        </div>
    </div>
</div>
