<layout-main>
	<div class="container py-4">
		<!-- grid container to avoid using all space -->
		<div class="grid grid-cols-1 lg:grid-cols-12">
			<!-- col -->
			<div class="lg:col-span-10">
				<form [formGroup]="proposalForm" (ngSubmit)="submit()">
					<div class="field">
						<h1 class="font-semibold text-2xl">Create proposal</h1>
						<div class="box border-3 border-secondary rounded-sm mt-6">
							<textarea
								class="w-90 border-3 border-gray-c50 p-3 font-medium text-xl rounded-sm w-full"
								rows="2"
								placeholder="Title..."
								formControlName="title"
							></textarea>

							<br /><br />

							<div
								class="border-3 border-secondary rounded-sm font-semibold py-3 px-2 w-fit"
							>
								#001
							</div>
						</div>
					</div>

					<div class="field">
						<label class="font-semibold text-xl mb-4 inline-block"> Description </label>

						<textarea
							class="border-3 border-gray-c50 p-3 font-medium text-xl rounded-sm w-full"
							rows="5"
							placeholder="Type something..."
							formControlName="description"
						></textarea>
					</div>

					<ng-container *ngIf="walletConnected; else connect">
						<button
							class="primary-button"
							type="submit"
							[ngClass]="{ loading: loading }"
						>
							Create proposal
						</button>
					</ng-container>

					<ng-template #connect>
						<button class="primary-button" type="button" (click)="connectW()">
							Connect Wallet
						</button>
					</ng-template>
				</form>
			</div>
		</div>
	</div>
</layout-main>
