<div class="w-4/5 sm:ml-12 mx-auto sm:pl-12 mt-7">
    <p class="font-semibold text-2xl">Create proposal</p>
    <div class="box border-3 border-black rounded mt-6">
        <form>
            <input class="w-11/12 border-3 border-gray-500 mt-9 lg:ml-7 ml-4 pl-5 pb-10 pt-3 font-medium text-xl rounded"
            type="text"
            placeholder="Title...">
        </form>
        <div class="small-box w-fit border-3 border-black rounded font-semibold px-2 py-2 mt-9 ml-7 mb-7">
            #001
        </div>
    </div>
    <p class="font-semibold text-xl mt-8">Description</p>
        <form>
            <input class="w-full border-3 border-gray-500 mt-4 pl-3 pb-24 pt-3 font-medium text-xl rounded"
            type="text"
            placeholder="Type something...">
        </form>
    <button class="text-white text-xl bg-black rounded px-7 py-3 mt-11 mb-5">Create proposal</button>
</div>



<section class="flex gap-10">
<div>
    <label for="new-user">User name:</label>
    <input class="border-2" id="new-user" #userName>

    <button class="border-3 border-black bg-black text-white" (click)="add(userName.value); userName.value=''">
        Add new user
    </button>
</div>
<div>
    <label for="new-user">User ID:</label>
    <input class="border-2" type="number" (keyup)="changeID($event)" id="new-user" #userID>

    <button 
    (click)="postUser(userID.value); userID.value=''"
    class="border-3 border-black bg-black text-white">
        Save user
    </button>
</div>
<button class="border-3 border-black bg-black text-white ml-12" (click)="save()">save</button>
</section>

<div *ngIf="user" class="mb-2">
    <p><span class="mr-3">{{ user.id }}</span>{{ user.title }}</p>
</div>

<div>
    <ul>
      <li *ngFor="let user of savedUsers" class="mb-2">
        <p><span class="mr-3">{{ user.id }}</span>{{ user.title }}</p>
      </li>
    </ul>
</div>


<ul class="users">
    <li *ngFor="let user of users" class="flex gap-10">
      <a class="mb-2">
        <span class="badge">{{user.id}}</span> {{user.title}}
      </a>
      <button type="button" class="delete mb-2" title="delete user"
        (click)="delete(user)">x</button>
    </li>
  </ul>


