<div class="w-4/5 sm:ml-12 mx-auto sm:pl-12 mt-7">
    <p class="font-semibold text-2xl">Create proposal</p>
    <div class="box border-3 border-black rounded mt-6">
        <form>
            <input class="w-11/12 border-3 border-gray-500 mt-9 lg:ml-7 ml-4 pl-5 pb-10 pt-3 font-medium text-xl rounded"
            type="text"
            placeholder="Title...">
        </form>
        <div class="small-box w-fit border-3 border-black rounded font-semibold px-2 py-2 mt-9 ml-7 mb-7">
            #001
        </div>
    </div>
    <p class="font-semibold text-xl mt-8">Description</p>
        <form>
            <input class="w-full border-3 border-gray-500 mt-4 pl-3 pb-24 pt-3 font-medium text-xl rounded"
            type="text"
            placeholder="Type something...">
        </form>
    <button class="text-white text-xl bg-black rounded px-7 py-3 mt-11 mb-5">Create proposal</button>
</div>
