.border-3{
    border-width: 3px;
}

.all{
    width: 80%;
}

.w-100{
    width: 100%;   
}

.w-90{
    width: 95%;
}

.small-box{
    width: fit-content;
}

.bg-gray-500{
    background-color: #AEAEAE;
}

.border-gray-500{
    border-color: #AEAEAE;
}