<div class="all ml-12 pl-12 mt-7">
    <p class="font-semibold text-2xl">Create proposal</p>
    <div class="box border-3 border-black rounded mt-6">
        <div class="flex gap-72">
            <span>
                <p class="text-xl font-semibold ml-7 mt-7">{{text1}}</p>
                <p class="text-xl font-semibold ml-7">{{text2}}</p>
            </span>
            <img class="img border-3 border-black rounded mt-7 mr-9" src="/assets/tabler-icon-edit.png">
        </div>
        <div class="small-box border-3 border-black rounded font-semibold px-2 py-1 mt-9 ml-7 mb-7">
            #001
        </div>
    </div>
    <p class="font-semibold text-xl mt-8">Description</p>
    <div class="border-3 border-gray-500 rounded mt-3">
        <p class="text-xl text-gray-500 ml-4 mt-3 font-medium mb-24">Type something...</p>
    </div>
    <button class="text-white text-xl bg-black rounded px-7 py-3 mt-11">Create proposal</button>
</div>
