.arrow{
    width: 35px;
    height: 17px;
    margin-top: 6px;
}

.amount{
    padding-bottom: 19rem;
}

/*.animation{
    position: relative;  
  }
  
 .animation::after {
    content: '';
    position: absolute;
    top: -22px;
    right: -7px; 
    bottom: 0;
    height: 110%;
    width: 3px; 
    background-color: transparent;
    transform: translateX(-10%);
    transition: transform 0.2s ease-in-out;
  }


  .animation::before {
    content: '';
    position: absolute;
    top: -22px;
    left: 15px; 
    bottom: 0;
    height: 3px;
    width: 100%; 
    background-color: transparent;
    transform: translateX(-10%);
    transition: transform 0.2s ease-in-out;
  }
    
  .animation:hover::after {
    transform: translateX(12px);
    background-color: black;
  }

  .animation:hover::before {
    transform: translateX(2px);
    background-color: black;
  }
  */
  
  
  