<layout-main>
	<div class="container py-4">
		<!-- Filters -->
		<div
			class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 2xl:grid-cols-4 gap-x-12 gap-y-12 mb-6"
		>
			<app-dropdown
				[items]="_assetTypes"
				[selected]="_selectedAssetType"
				(changeSelected)="changeAssetType($event)"
			>
			</app-dropdown>
		</div>

		<!-- Card's grid -->
		<div
			class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 2xl:grid-cols-4 gap-x-12 gap-y-12"
		>
			<!-- card -->
			<div
				*ngFor="let item of treasurySvc.assets"
				class="box border-3 border-gra-c50 rounded-sm"
			>
				<!-- img -->
				<div class="img-container aspect-square relative">
					<div class="absolute w-full pr-3 pt-3">
						<div class="text-end font-medium text-2xl">${{ item.usdValue }}</div>
					</div>
					<img [src]="item.image" alt="" style="width: 100%" />
				</div>

				<div class="content-container p-4">
					<p class="font-bold text-2xl mb-3">{{ item.name }}</p>

					<div class="grid grid-cols-12 gap-5">
						<div class="col-span-8">
							<a
								class="gray-button w-full flex gap-3"
								[href]="item.moreInfoLink"
								rel="noopener noreferrer"
								target="_blank"
							>
								<img width="20px" src="/assets/Vector.svg" />
								<div class="font-semibold text-xl">More info</div>
							</a>
						</div>

						<div class="col-span-4">
							<div class="flex gap-2 rounded-sm border-3 border-gray-c50 px-4 py-3">
								<img width="24px" src="/assets/Group_4.svg" />
								<div class="text-xl font-semibold">
									{{ item.quantity }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- <div *ngFor="let item of items" class="box border-2 border-gray-500 hidden">
				<div class="small-container bg-gray-200">
					<p class="amount text-end font-medium text-2xl mr-5 pt-3">
						{{ item.amount }}
					</p>
				</div>
				<p class="font-bold text-2xl ml-7 mt-4 mb-3">Property</p>
				<div class="flex gap-5 ml-7 mb-6">
					<button class="bg-transparent py-3 px-6 border-2 border-gray-500">
						<p class="flex gap-3 pr-2 font-semibold">
							<img width="20px" [src]="item.firstLogo" />More info
						</p>
					</button>
					<button class="bg-transparent py-3 px-6 border-2 border-gray-500 font-semibold">
						<p class="flex">
							<img class="mr-7" width="25px" [src]="item.secondLogo" />{{
								item.number
							}}
						</p>
					</button>
				</div>
			</div> -->
		</div>
	</div>
</layout-main>
