<div class="containers">
    <div class="head mt-12">
        <p class="font-bold text-5xl text-center">{{title}}</p>
        <p class="text-center text-lg mt-3">{{text1}}</p>
        <p class="text-center text-lg">{{text2}}</p>
        <p class="text-center text-lg">{{text3}}</p>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="flex flex-col items-center">
        <button class="bg-transparent py-3 px-6 border-2 border-black">
           <p class="flex ml-3 text-lg">Connect<img class="arrow ml-10" src="/assets/Arrow 1.png" /></p>
         </button>
    </div>
    <div class="main-content ml-12 pl-12">
        <div class="flex gap-4 mt-12">
            <button class=" bg-transparent py-2 px-6 border-2 border-gray-500">
               <p class="text-lg font-bold flex">Properties<img class="ml-8" width="30px" src="/assets/tabler-icon-building-estate.png" ></p>
             </button>
             <button class="bg-transparent py-2 px-6 border-2 border-gray-500">
                <img width="10px" src="/assets/Vector.png">
             </button>
        </div>
        <div class="columns-3 mt-2 gap-12">
            <div class="container border-2 border-gray-500">
                <div class="small-container bg-gray-200">
                    <p class="amount text-end font-medium text-2xl mr-5 pt-3">$5946</p>
                </div>
                <p class="font-bold text-xl ml-7 mt-3">Property</p>
                <div class="flex gap-5 ml-7">
                    <button class="bg-transparent py-3 px-6 border-2 border-black">
                        <p class="flex gap-3 pr-2 font-bold">
                            <img width="20px" src="/assets/Vector (1).png">More info</p>
                    </button>
                    <button class="bg-transparent py-3 px-6 border-2 border-black">
                        5
                    </button>
                </div>
            </div>
            <div class="container border-2 border-gray-500">
                <div class="small-container bg-gray-200">
                    <p class="amount text-end font-medium text-2xl mr-5 pt-3">$5946</p>
                </div>
                <p class="font-bold text-xl ml-7 mt-3">Property</p>
                <div class="flex gap-5 ml-7">
                    <button class="bg-transparent py-3 px-6 border-2 border-black">
                        <p class="flex gap-3 pr-2 font-bold"
                        ><img width="20px" src="/assets/Vector (1).png">More info</p>
                    </button>
                    <button class="bg-transparent py-3 px-6 border-2 border-black">
                        5
                    </button>
                </div>
            </div>
            <div class="container border-2 border-gray-500">
                <div class="small-container bg-gray-200">
                    <p class="amount text-end font-medium text-2xl mr-5 pt-3">$5946</p>
                </div>
                <p class="font-bold text-xl ml-7 mt-3">Property</p>
                <div class="flex gap-5 ml-7">
                    <button class="bg-transparent py-3 px-6 border-2 border-black">
                        <p class="flex gap-3 pr-2 font-bold">
                            <img width="20px" src="/assets/Vector (1).png">More info</p>
                    </button>
                    <button class="bg-transparent py-3 px-6 border-2 border-black">
                        5
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
ggggggg