%base {
	user-select: none;
}

.primary-button {
	@extend %base;

	@apply relative;
	@apply px-4;
	@apply py-3;

	@apply rounded-sm;
	@apply border-3;
	@apply border-secondary;

	@apply cursor-pointer;
	@apply text-center;

	@apply bg-secondary;
	@apply text-primary;

	@apply font-semibold;

	@apply transition-colors;
	@apply duration-200;
	@apply ease-in-out;

	@apply hover:bg-transparent;
	@apply hover:text-secondary;
	// @apply hover:before:opacity-100;

	@apply focus:outline-none;
	// @apply focus:after:

	@apply active:bg-secondary-700;
	@apply active:border-secondary-700;
	@apply active:text-primary;

	&.loading {
		@extend ._loading;
	}

	&:disabled {
		opacity: 0.5;
		pointer-events: none;
	}
}

.secondary-button {
	// @extend .rounded-sm; .px-4; .py-3 .border-3 .border-primary .text-primary .font-semibold .bg-secondary .hover:bg-primary .hover:text-secondary .text-xl .transition-colors .duration-200 .ease-in-out .focus:outline-none .focus:bg-gray-100 .active:bg-primary;

	@extend %base;

	@apply relative;
	@apply px-4;
	@apply py-3;

	@apply rounded-sm;
	@apply border-3;
	@apply border-secondary;

	@apply cursor-pointer;
	@apply text-center;

	// @apply bg-primary;
	@apply text-secondary;

	@apply font-semibold;

	@apply transition-colors;
	@apply duration-200;
	@apply ease-in-out;

	@apply hover:bg-secondary;
	@apply hover:text-primary;
	// @apply hover:before:opacity-100;

	@apply focus:outline-none;
	// @apply focus:after:

	@apply active:bg-secondary-700;
	@apply active:border-secondary-700;
	@apply active:text-primary;

	// &::before {
	// 	content: '';
	// 	position: absolute;
	// 	top: 8px;
	// 	left: 8px;

	// 	width: 100%;
	// 	height: 100%;

	// 	@apply opacity-0;

	// 	@apply bg-primary;
	// 	@apply rounded-sm;
	// 	@apply border-3;
	// 	@apply border-secondary;

	// 	z-index: -1;
	// }

	&.loading {
		@extend ._loading;

		&::after {
			border-left-color: black !important;
			border-bottom-color: black !important;
		}
	}

	&:disabled {
		opacity: 0.5;
		pointer-events: none;
	}
}

.gray-button {
	@extend %base;

	@apply relative;
	@apply px-4;
	@apply py-3;

	@apply rounded-sm;
	@apply border-3;
	@apply border-gray-c50;

	@apply cursor-pointer;
	@apply text-center;

	// @apply bg-primary;
	@apply text-secondary;

	@apply font-semibold;

	@apply transition-colors;
	@apply duration-200;
	@apply ease-in-out;

	@apply hover:bg-gray-c50;
	@apply hover:text-primary;
	// @apply hover:before:opacity-100;

	@apply focus:outline-none;
	// @apply focus:after:

	@apply active:bg-secondary-700;
	@apply active:border-secondary-700;
	@apply active:text-primary;

	&::before {
		content: '';
		position: absolute;
		top: 8px;
		left: 8px;

		width: 100%;
		height: 100%;

		@apply opacity-0;

		@apply bg-primary;
		@apply rounded-sm;
		@apply border-3;
		@apply border-secondary;

		z-index: -1;
	}

	&.loading {
		@extend ._loading;
	}

	&:disabled {
		opacity: 0.5;
		pointer-events: none;
	}
}

._loading {
	color: transparent !important;
	pointer-events: none;

	&::after {
		content: '';

		position: absolute !important;
		left: calc(50% - (1em * 0.5));
		top: calc(50% - (1em * 0.5));

		border: 2px solid #ffeeee;
		border-radius: 9999px;
		border-right-color: transparent;
		border-top-color: transparent;
		display: block;
		height: 1em;
		position: relative;
		width: 1em;

		animation: spin 0.6s linear infinite;
	}

	// remove the button text
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}
