// .box {
// 	border-radius: 3px;
// }

.right-box {
	border-radius: 3px;
}

.text1 {
	background-color: black;
	pointer-events: none;
	border-radius: 3px;
}

.clock {
	background-color: #1d1b1b;
	border-radius: 6px;
}

@media only screen and (max-width: 1025px) {
	.active {
		display: block;
	}

	.none {
		display: none;
	}
}

.bg-neon {
	background-image: linear-gradient(to bottom right, #ff416c, #ff4b2b);
}

.slide {
	border: solid 3px white;
	border-radius: 8px;
}

@media only screen and (max-width: 1024px) {
	.translate {
		transform: translateY(30.7rem);
	}
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
	.translate {
		transform: translateY(30.7rem);
		margin-left: 6rem;
	}
}

@media only screen and (min-width: 1024px) {
	.animation:hover {
		transform: translate(15px, -15px);
		@apply transition-all;
		@apply duration-500;
		@apply ease-in-out;
	}
}

// *~~*~~*~~ ----- ~~*~~*~~* //
.box2 {
	@apply rounded-sm;
	@apply border-3;
	@apply border-secondary;
	@apply px-8;
	@apply py-8;
}

.box3 {
	position: relative;
	@apply rounded-sm;
	@apply border-3;
	@apply border-gray-c50;
	// @apply bg-primary;

	@apply pt-10;
	@apply pb-4;
	@apply px-8;

	transition: all 100ms ease-in-out;

	&:hover {
		@apply border-secondary #{'!important'};
	}
}

.box-shadow {
	position: absolute;
	top: 0;

	width: 100%;
	height: 100%;

	@apply border-3;
	@apply border-secondary;
	@apply rounded-sm;
}

::-webkit-scrollbar {
	width: 0;
	background: transparent;
}

.root {
	height: calc(100vh - 102px);
}
