<layout-main>
	<section class="root">
		<!-- container -->
		<div class="container overflow-hidden py-4">
			<!-- grid container -->

			<h1 class="text-2xl font-semibold mb-7 hidden lg:block">Proposals</h1>

			<div
				class="flex flex-col-reverse lg:grid lg:grid-cols-12 lg:grid-flow-col gap-10 h-full"
			>
				<!-- boxes container -->

				<div class="lg:col-span-8 overflow-auto">
					<h1 class="text-2xl font-semibold mb-7 lg:hidden block">Proposals</h1>

					<!-- proposal boxes -->

					<div class="relative" *ngFor="let p of proposals; let i = index">
						<div class="box-shadow hidden lg:block"></div>

						<a
							class="box3 !border-gray-c50 relative animation mb-8 block"
							[ngClass]="i === id ? 'slide-right' : 'none'"
							[routerLink]="['/proposals/vote', p.number]"
						>
							<div
								class="absolute -top-[3px] -left-[3px] rounded-sm py-1 px-3 bg-secondary font-semibold"
								[ngClass]="p.status === 0 ? 'text-yellow-500' : 'text-green-500'"
							>
								{{ p.status === 0 ? 'PENDING' : 'ACCEPTED' }}
							</div>

							<div class="flex gap-20 justify-between h-full">
								<div class="flex flex-col h-full">
									<p class="text-xl font-semibold">
										{{ p.description }}
									</p>

									<br />

									<div class="flex-grow"></div>

									<div class="flex gap-x-4">
										<div
											class="border-3 border-secondary rounded-sm font-semibold py-3 px-2"
										>
											#{{ p.number | number : '3.0' }}
										</div>
									</div>
								</div>
								<div [ngSwitch]="p.status">
									<img
										*ngSwitchCase="0"
										class="clock py-4 px-4 hidden md:block md:mr-4 xl:mr-0"
										width="90px"
										src="/assets/icons/proposals/pending-icon.svg"
									/>

									<img
										*ngSwitchCase="1"
										class="clock py-4 px-4 hidden md:block md:mr-4 xl:mr-0"
										width="90px"
										src="/assets/icons/proposals/accepted-icon.svg"
									/>
								</div>
							</div>
						</a>
					</div>
				</div>

				<!-- right container -->

				<div class="lg:col-span-4">
					<div class="box2 flex flex-col mb-8">
						<a
							class="primary-button text-2xl rounded-sm w-full"
							routerLink="/proposals/create"
						>
							Create Proposal
						</a>

						<br />

						<div class="font-bold text-2xl">0</div>
						<h1 class="font-medium text-lg">Voting Weight</h1>
					</div>

					<div class="box2 h-fit">
						<p class="text-center mt-6 text-xl font-medium">To vote you should</p>
						<div>
							<button class="small-box border-3 py-1 px-3 border-gray-400">1</button>
						</div>

						<br />
						<div>
							<button class="small-box border-3 py-1 px-3 border-gray-400">2</button>
						</div>
						<div class="flex gap-36">
							<div class="md:mt-0 mt-7 lg:mb-3">
								<!-- <button
									class="border-3 border-gray-500 rounded font-semibold py-1 px-2 md:ml-9 md:mb-3 md:mt-3 ml-5"
								>
									{{ item.smallText }}
								</button> -->
							</div>
							<div>
								<!-- <img
									class="clock py-3 px-3 visible md:hidden mb-2 md:mr-4"
									width="70px"
									[src]="item.image"
								/> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</layout-main>
