<layout-main>
	<section class="root">
		<!-- container -->
		<div class="container">
			<h1 class="text-2xl font-semibold mb-7 translate">Proposals</h1>

			<!-- grid container -->
			<div class="grid grid-rows-12 lg:grid-flow-col gap-10">
				<div class="col-span-8">
					<!-- proposal boxes -->
					<div
						class="box3 !border-gray-c50 relative animation mb-8"
						*ngFor="let p of proposals; let i = index"
						[ngClass]="i === id ? 'slide-right' : 'none'"
					>
						<div
							class="absolute -top-[3px] -left-[3px] rounded-sm py-1 px-3 bg-secondary font-semibold"
							[ngClass]="p.status === 0 ? 'text-yellow-500' : 'text-green-500'"
						>
							{{ p.status === 0 ? 'PENDING' : 'ACCEPTED' }}
						</div>

						<div class="flex gap-20 justify-between h-full">
							<div class="flex flex-col h-full">
								<p class="text-xl font-semibold">
									{{ p.description }}
								</p>

								<br />

								<div class="flex-grow"></div>

								<div class="flex gap-x-4">
									<div
										class="border-3 border-secondary rounded-sm font-semibold py-3 px-2"
									>
										#{{ p.number | number : '3.0' }}
									</div>
								</div>
							</div>
							<div [ngSwitch]="p.status">
								<img
									*ngSwitchCase="0"
									class="clock py-4 px-4 hidden md:block md:mr-4 xl:mr-0"
									width="90px"
									src="/assets/icons/proposals/pending-icon.svg"
								/>

								<img
									*ngSwitchCase="1"
									class="clock py-4 px-4 hidden md:block md:mr-4 xl:mr-0"
									width="90px"
									src="/assets/icons/proposals/accepted-icon.svg"
								/>
							</div>
						</div>
					</div>
				</div>

				<!-- arrows 
				<div class="flex gap-5 m-auto lg:hidden">
					<div>
						<button (click)="slideLeft(id)" class="slide ml-3 px-2 py-1 bg-neon">
							<img class="w-5 h-5" src="/assets/arrow_back_ios.svg" />
						</button>
					</div>
					<div>
						<button (click)="slideRight(id)" class="slide ml-3 px-2 py-1 bg-neon">
							<img class="w-5 h-5" src="/assets/arrow_forward_ios.svg" />
						</button>
					</div>
				</div>-->

				<!-- right container -->

				<div class="col-span-4">
					<div class="box2 flex flex-col mb-8">
						<a
							class="primary-button text-2xl rounded-sm w-full"
							routerLink="/proposals/create"
						>
							Create Proposal
						</a>

						<br />

						<div class="font-bold text-2xl">0</div>
						<h1 class="font-medium text-lg">Voting Weight</h1>
					</div>

					<div class="box2 h-fit">
						<p class="text-center mt-6 text-xl font-medium">To vote you should</p>
						<div>
							<button class="small-box border-3 py-1 px-3 border-gray-400">1</button>
						</div>

						<br />
						<div>
							<button class="small-box border-3 py-1 px-3 border-gray-400">2</button>
						</div>
						<div class="flex gap-36">
							<div class="md:mt-0 mt-7 lg:mb-3">
								<!-- <button
									class="border-3 border-gray-500 rounded font-semibold py-1 px-2 md:ml-9 md:mb-3 md:mt-3 ml-5"
								>
									{{ item.smallText }}
								</button> -->
							</div>
							<div>
								<!-- <img
									class="clock py-3 px-3 visible md:hidden mb-2 md:mr-4"
									width="70px"
									[src]="item.image"
								/> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</layout-main>
