.clock{
    background-color: #1D1B1B;
    border-radius: 6px;
}

.box{
    border-radius: 3px;
}

.small-boxs{
    border-radius: 3px;
}

.text1{
    background-color: black;
    pointer-events: none;
    border-radius: 3px;
}

.bg-semi-black{
    background-color: #1D1B1B;
}

a{
    color: #3954E5;
    text-decoration: underline;
    cursor: pointer;
}

.btn{
    border: 3px solid black;
    width: 90%;
}

.last{
    background:linear-gradient(0deg, #3954E5, #3954E5);
    width: 20%;
}

.first{
    background:linear-gradient(0deg, #8EFF71, #8EFF71);
    width: 50%;
}

.bg-red-600{
    width: 40%;
}

.border-3{
    border-width: 3px;
}

.right-box{
    position: relative;
}

.right-box::after{
    Content: "";
    position: absolute;
    top: 60px;
    right: 0;
    left: 45px;
    width: 3px;
    height: 40px;
    background-color: black;
    z-index: -1;
}

.small-icons{
    width: 40px;
}

.space{
    justify-content: space-between;
}

.bg-gray-500{
    background-color: #AEAEAE;
}

.border-gray-500{
    border-color: #AEAEAE;
}