<layout-main>
	<div class="root">
		<div class="container py-4">
			<div *ngIf="_loading; else container" class="flex justify-center items-center h-full">
				<svg
					aria-hidden="true"
					class="w-8 h-8 mr-2 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
					viewBox="0 0 100 101"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
						fill="currentColor"
					/>
					<path
						d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
						fill="currentFill"
					/>
				</svg>
				<span class="sr-only">Loading...</span>
			</div>

			<ng-template #container>
				<ng-container *ngIf="_error; else content">
					<h1 class="text-2xl text-red-400 text-center">{{ _errorMessage }}</h1>
				</ng-container>

				<ng-template #content>
					<div class="flex flex-col-reverse lg:block">
						<h1 class="font-bold text-2xl">Overview</h1>

						<br />

						<!-- first row -->
						<div class="lg:grid lg:grid-cols-12 lg:grid-flow-col gap-10">
							<div class="col-span-8">
								<div
									class="box !border-gray-c50 relative animatsdion mb-8 block h-full"
								>
									<div
										class="absolute -top-[3px] -left-[3px] rounded-sm py-1 px-3 bg-secondary font-semibold"
										[ngClass]="
											proposal.status === 0
												? 'text-yellow-500'
												: 'text-green-500'
										"
									>
										{{ proposal.status === 0 ? 'PENDING' : 'ACCEPTED' }}
									</div>

									<div class="flex gap-20 justify-between h-full">
										<div class="flex flex-col h-full">
											<p class="text-xl font-semibold">
												{{ proposal.title }}
											</p>

											<div class="flex-grow"></div>

											<div class="flex gap-x-4">
												<div
													class="border-3 border-secondary rounded-sm font-semibold py-3 px-2"
												>
													#{{ proposal.number | number : '3.0' }}
												</div>
											</div>
										</div>
										<div [ngSwitch]="proposal.status">
											<img
												*ngSwitchCase="0"
												class="clock py-4 px-4 hidden md:block md:mr-4 xl:mr-0"
												width="90px"
												src="/assets/icons/proposals/pending-icon.svg"
											/>

											<img
												*ngSwitchCase="1"
												class="clock py-4 px-4 hidden md:block md:mr-4 xl:mr-0"
												width="90px"
												src="/assets/icons/proposals/accepted-icon.svg"
											/>
										</div>
									</div>
								</div>
							</div>

							<div class="col-span-4">
								<div class="box">
									<div class="flex gap-x-8">
										<div
											class="bg-secondary rounded px-2 py-2 text-green-1 w-16 h-16 grid place-items-center relative bottomLine cbox"
										>
											<i class="far fa-check-circle text-4xl"></i>
										</div>
										<div>
											<h1 class="text-xl font-semibold">Created</h1>
											<h2 class="text-lg font-semibold">
												{{
													proposal.creationgTime * 1000
														| date : 'dd MMM y h:mm a'
												}}
											</h2>
										</div>
									</div>
									<br />
									<div class="flex gap-x-8">
										<div
											class="border-3 border-gray-c50 bg-primary rounded px-2 py-2 w-16 h-16 grid place-items-center cbox"
										>
											<img
												src="/assets/icons/proposals/pending-gray.svg"
												alt=""
											/>
											<!-- <i class="far fa-check-circle text-4xl"></i> -->
										</div>
										<div class="font-semibold">
											<h1 class="text-xl font-semibold">Executed</h1>
											<h2 class="text-lg font-semibold">pending...</h2>
										</div>
									</div>
								</div>
							</div>
						</div>

						<br />

						<!-- second row -->
						<div class="lg:grid lg:grid-cols-12 lg:grid-flow-col gap-10">
							<div
								class="xl:col-span-8 lg:col-span-12 lg:flex lg:flex-row justify-between flex flex-col gap-y-8"
							>
								<div
									class="border-3 border-gray-c50 px-4 py-6 rounded-sm lg:w-[280px] xl:w-[250px] 2xl:w-[280px]"
									*ngFor="let item of votesArr"
								>
									<!-- progress bar -->
									<div class="bg-black h-3.5 mb-4 p-[2px]">
										<div
											class="h-full {{ item.color }} "
											[style]="{ width: item.percent + '%' }"
										></div>
									</div>

									<!-- total votes -->
									<div class="border-3 border-black rounded px-4 py-3 mb-6">
										<h1 class="font-semibold text-2xl">
											{{ item.count }}
										</h1>
										<p class="font-medium text-xl">Votes</p>
									</div>

									<!-- address and weight -->
									<div class="flex justify-between text-xs font-medium mb-2">
										<div>Addresses</div>
										<div>Voting Weight</div>
									</div>
									<div class="data-container h-[100px] overflow-auto">
										<div
											class="flex justify-between text-xs font-medium mb-4"
											*ngFor="let vote of item.votes"
										>
											<div
												[popper]="popper1Content"
												[popperShowOnStart]="false"
												[popperTrigger]="'click'"
												[popperHideOnClickOutside]="true"
												[popperHideOnScroll]="false"
												[popperPlacement]="'top'"
												[popperApplyClass]="'bg-secondary'"
											>
												<u class="text-[dodgerblue] cursor-pointer">{{
													vote.address | address
												}}</u>
											</div>
											<popper-content #popper1Content>
												<div
													class="border-3 border-primary p-3 rounded-sm mb-3"
												>
													<h1 class="text-sm font-semibold text-primary">
														Number of proposals
													</h1>
													<h1 class="text-sm font-semivold text-primary">
														#{{ item.id }}
													</h1>
												</div>
												<div
													class="border-3 border-primary p-3 rounded-sm flex justify-between items-center"
												>
													<div>
														<h1
															class="text-sm font-semibold text-primary"
														>
															User signature
														</h1>
														<h1
															class="text-sm font-semivold text-primary"
														>
															{{ vote.signature | address }}
														</h1>
													</div>

													<a
														class="text-sm"
														(click)="copyToClipboard(vote.address)"
													>
														<i class="far fa-clone text-primary"></i>
													</a>
												</div>
											</popper-content>

											<div>{{ vote.weight }}</div>
										</div>
									</div>
									<!-- Vote button -->
									<div>
										<ng-container *ngIf="walletConnected; else connect">
											<button
												class="secondary-button w-full text-2xl"
												(click)="vote(item.type, item.id)"
											>
												{{ item.title }}
											</button>
										</ng-container>

										<ng-template #connect>
											<button
												class="secondary-button w-full text-2xl"
												(click)="connectW()"
											>
												Connect wallet
											</button>
										</ng-template>
									</div>
								</div>
							</div>
						</div>
					</div>

					<br />

					<!-- <p class="font-bold text-2xl ml-20 mt-12 lg:hidden">{{ title }}</p>
					<div class="grid grid-rows-2 w-8/12 lg:hidden m-auto mt-2">
						<div class="box right-box border-3 border-black w-full h-fit pb-6">
							<div class="ml-5 mt-5">
								<div class="flex">
									<button class="bg-semi-black rounded px-2 py-2">
										<img
											width="40px"
											src="/assets/tabler-icon-circle-check.svg"
										/>
									</button>
									<span class="font-semibold ml-5">
										<p class="text-lg">Created</p>
										<p>03 Mar 2023 4:44 PM</p>
									</span>
								</div>
								<div class="flex mt-6 mb-4">
									<button class="border-3 border-gray-500 rounded px-1 py-1">
										<img
											width="40px"
											src="/assets/tabler-icon-clock-hour-12.svg"
										/>
									</button>
									<span class="font-semibold ml-5">
										<p>Executed</p>
										<p>pending...</p>
									</span>
								</div>
							</div>
						</div>
						<div class="box border-3 border-black w-full mt-7">
							<button class="text1 text-lg bg-black px-5 py-2">
								<img src="/assets/PENDING.svg" />
							</button>
							<div class="mt-3">
								<span>
									<p class="text-lg sm:text-xl ml-5 font-semibold">
										{{ text1Mobile }}
									</p>
									<p class="text-lg sm:text-xl ml-5 font-semibold">
										{{ text2Mobile }}
									</p>
									<p class="text-lg sm:text-xl ml-5 font-semibold">
										{{ text3Mobile }}
									</p>
								</span>
							</div>
							<div class="flex gap-3">
								<div>
									<button
										class="border-3 border-black py-2 px-2 rounded font-semibold ml-5 mt-8 mb-4"
									></button>
								</div>
								<div>
									<button
										class="px-1 py-1 bg-semi-black rounded font-semibold mt-8"
									>
										<img width="35px" src="/assets/tabler-icon-cube-send.svg" />
									</button>
								</div>
								<div>
									<img
										class="clock py-4 px-4 visible ml-7"
										width="80px"
										src="/assets/tabler-icon-clock-hour-9.svg"
									/>
								</div>
							</div>
						</div>
					</div> -->
					<div class="box min-h-[300px]">
						<p class="text-2xl font-semibold mb-3">Description</p>
						<p class="font-medium text-lg">
							{{ proposal.description }}
						</p>
					</div>
				</ng-template>
			</ng-template>
		</div>
	</div>
</layout-main>
