<!-- <div class="flex gap-x-8">
	<a class="text-green-700" routerLink="/treasury">Treasury</a>
	<a href="" class="text-green-700" routerLink="/staking">Staking</a>
	<a href="" class="text-green-700" routerLink="/proposals">Proposals</a>
	<a href="" class="text-green-700" routerLink="/proposals/vote">Vote</a>
	<a href="" class="text-green-700" routerLink="/proposals/create">Create</a>
</div> -->

<router-outlet></router-outlet>

<app-glass-panel></app-glass-panel>
<app-wallets></app-wallets>

<!-- <div
	[popper]="'As text'"
	[popperShowOnStart]="true"
	[popperTrigger]="'click'"
	[popperHideOnClickOutside]="true"
	[popperHideOnScroll]="true"
	[popperPlacement]="'bottom'"
>
	<p class="bold">Hey!</p>
	<p class="thin">Choose where to put your popper!</p>
</div> -->
<!-- <popper-content #popper1Content>
	<p class="bold">Popper on bottom</p>
</popper-content> -->
