<layout-main>
	<div *ngIf="stakingSvc.loading; else content">
		<div role="status">
			<svg
				aria-hidden="true"
				class="w-8 h-8 mr-2 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
				viewBox="0 0 100 101"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path
					d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
					fill="currentColor"
				/>
				<path
					d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
					fill="currentFill"
				/>
			</svg>
			<span class="sr-only">Loading...</span>
		</div>
	</div>

	<ng-template #content>
		<section class="root">
			<!-- container -->
			<div class="container h-full gap-y-8 py-4">
				<!-- Stake col -->
				<div
					id="stake col"
					class="grid grid-cols-1 xl:grid-cols-12 gap-8 xl:gap-14 lg:auto-rows-[1fr]"
				>
					<!-- Staking box -->
					<div class="col-span-12 xl:col-span-4">
						<div
							class="rounded-sm overflow-hidden border-3 border-gray-c50 px-6 py-5 h-full"
						>
							<form [formGroup]="form" (ngSubmit)="stake()">
								<div
									class="flex justify-between items-center border-3 border-secondary rounded-sm px-4 py-3"
								>
									<img
										src="/assets/icons/wallet.svg"
										alt=""
										[style]="{ width: '28px' }"
									/>
									<div
										type="text"
										class="text-xl text-right text-secondary font-semibold"
									>
										$5000
									</div>
								</div>

								<br />

								<div class="field">
									<div class="grid grid-cols-12 gap-3">
										<div class="col-span-8 md:col-span-9">
											<input
												type="text"
												class="rounded-sm w-full px-4 py-3 text-seconday font-semibold border-3 border-gray-c50 text-xl focus:bg-gray-50 focus:outline-none placeholder:text-gray-c50 placeholder:font-semibold"
												placeholder="Amount"
												formControlName="amount"
											/>
										</div>

										<div class="col-span-4 md:col-span-3">
											<button
												class="secondary-button text-xl w-full"
												type="button"
												(click)="max()"
											>
												MAX
											</button>
										</div>
									</div>
								</div>

								<div class="flex justify-between">
									<div class="text-secondary text-xl font-semibold">APY</div>
									<div class="text-secondary text-xl font-semibold">0.00%</div>
								</div>

								<br />

								<div class="field">
									<div class="grid grid-cols-2 gap-6">
										<div class="col-span-1">
											<button
												class="primary-button text-xl w-full"
												type="submit"
											>
												Stake
											</button>
										</div>
										<div class="col-span-1">
											<button class="secondary-button text-xl w-full">
												UnStake
											</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>

					<!-- Stats box -->
					<div class="col-span-12 xl:col-span-8">
						<!-- box -->
						<div
							class="rounded-sm overflow-hidden border-3 border-gray-c50 px-6 py-5 h-full flex flex-col justify-center"
						>
							<div
								class="grid grid-rows-1 gap-y-8 lg:grid-cols-5 lg:grid-rows-2 lg:gap-x-4a lg:gap-y-8 axl:gap-x-[12rem]"
							>
								<!-- stake box -->
								<div class="lg:col-span-2">
									<div class="stat_box">
										<img src="/assets/icons/eth_d.svg" alt="" width="48" />
										<div>
											<div class="text-secondary text-2xl font-semibold">
												{{ stakingSvc.data.totalStaked }}
											</div>
											<div class="text-secondary text-xl font-semibold">
												Amount Staked
											</div>
										</div>
									</div>
								</div>

								<!-- stake box -->
								<div class="lg:col-span-2 lg:col-start-4">
									<div class="stat_box black">
										<img src="/assets/icons/eth_l.svg" alt="" width="48" />
										<div>
											<div class="text-green-1 text-2xl font-semibold">
												{{ stakingSvc.data.activeStaked }}
											</div>
											<div class="text-primary text-xl font-semibold">
												Active Staked
											</div>
										</div>
									</div>
								</div>

								<!-- stake box -->
								<div class="lg:col-span-2">
									<div class="stat_box">
										<img src="/assets/icons/spots.svg" alt="" width="48" />
										<div>
											<div class="text-secondary text-2xl font-semibold">
												{{ stakingSvc.data.spots }}
											</div>
											<div class="text-secondary text-xl font-semibold">
												Spots
											</div>
										</div>
									</div>
								</div>

								<!-- stake box -->
								<div class="lg:col-span-2 lg:col-start-4">
									<div class="stat_box">
										<img src="/assets/icons/spots.svg" alt="" width="48" />
										<div>
											<div class="text-secondary text-2xl font-semibold">
												${{ stakingSvc.data.totalProfit }}
											</div>
											<div class="text-secondary text-xl font-semibold">
												Total Profit
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- History col -->
				<div class="flex-grow flex flex-col min-h-0">
					<div class="flex justify-between mb-4">
						<h1 class="text-xl text-black font-semibold">Rewards History</h1>
					</div>

					<div
						class="flex-grow overflow-y-auto min-h-0 pr-2 max-xl:max-h-[300px] transparent-scroll"
					>
						<table class="table">
							<tbody>
								<tr *ngFor="let r of stakingSvc.data.rewardsHistory">
									<td class="text-secondary">
										<h1 class="text-xl md:text-2xl font-semibold">
											{{ r.amount }}
										</h1>
										<h1 class="text-base md:text-xl font-medium">ETH</h1>
									</td>

									<td class="text-secondary">
										<h1 class="text-xl md:text-2xl font-semibold">
											{{ r.date | date : 'MM/dd/yyyy' }}
										</h1>
										<h1 class="text-base md:text-xl font-medium">date</h1>
									</td>

									<td class="text-secondary hidden md:block">
										<h1 class="text-2xl font-semibold">
											{{ r.totalDividends }}
										</h1>
										<h1 class="text-base md:text-xl font-medium">
											Total dividends
										</h1>
									</td>

									<td class="text-secondary text-right">
										<a
											[href]="r.blockchainUrl"
											rel="noopener noreferrer"
											target="_blank"
										>
											<button
												class="primary-button btn !p-1 min-w-[32px]"
												target="_blank"
												rel="noopener noreferrer"
											>
												<img
													src="/assets/icons/cube.svg"
													alt=""
													width="32px"
												/>
											</button>
										</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</section>
	</ng-template>
</layout-main>
